# FMCG Produscts Analysis

# Q1. Monthwise number of quantities sold

In [108]:
import numpy as np
import pandas as pd # first import numpay and pandas

In [55]:
raw = pd.read_csv("Raw Sales Data.csv") # here we are read our data file 
raw.head(3)

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,"1,116","4,28,700"
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,"3,003","13,74,831"
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,"2,962","7,32,167"

In [4]:
raw.size # cheak size

1568

In [5]:
raw.shape # cheak shape

(224, 7)

In [6]:
raw.info() # here we are cheak all imfo and all datatype is object and our dataset not have NaN values or blank column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    object
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    object
 6   Sales         224 non-null    object
dtypes: object(7)
memory usage: 12.4+ KB

In [56]:
raw["Qty"] = raw['Qty'].str.replace(',','') # first i am  replce , to space from qty

In [57]:
raw['Sales'] = raw['Sales'].str.replace(',','') # first i am replce , to space from sales

In [58]:
raw["Qty"] = raw["Qty"].astype("int64") # then i change qty dytpe is object so i am change it int64

In [59]:
qty_sum = raw.groupby("Month")["Qty"].sum() # then we groupby and find sum of qty

In [60]:
qty_sum = pd.DataFrame(qty_sum) # 1st Ans
qty_sum

             Qty
Month
01-Dec-20  85427
01-Feb-21  76393
01-Jan-21  67732
01-Mar-21  80229

# Q2. Category wise Qty sold

In [61]:
category_wise_qty_sold = raw.groupby("Category")["Qty"].sum()

In [62]:
category_wise_qty_sold = pd.DataFrame(category_wise_qty_sold)
category_wise_qty_sold

                         Qty
Category
Functional nutrition   42354
Gourmet Nutrition      89279
Juices                178148

# Q3. Sub-channel wise total sales

In [65]:
raw['Sales'] = raw['Sales'].astype('int64')

In [73]:
subchannel_wise_sales = raw.groupby("Sub-Channels")["Sales"].sum()
subchannel_wise_sales = pd.DataFrame(subchannel_wise_sales)
subchannel_wise_sales

                      Sales
Sub-Channels
AMAZON             35606804
Big Basket          1207522
D2C                28047538
Flipkart            3770415
GOQII                582600
Offline - Central    375332
Offline - East       811146
Offline - MT        6257948
Offline - South     3446395
Offline - West      6441427
Offline -North      1206564

# 4. Highest sale in which month

In [79]:
highest_sale = raw.groupby("Month")["Sales"].sum().nlargest(1)
highest_sale = pd.DataFrame(highest_sale)
highest_sale

              Sales
Month
01-Mar-21  25127827

# Q5. Highest selling product (based on sales) (packaging quantity doesn't matter. Ex. consider "GET SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [82]:
raw["Product Name"]=raw["Product Name"].str.split("\d+").str[0]

In [86]:
highest_sell_produ = raw.groupby("Product Name")["Sales"].sum().nlargest(1)
highest_sell_produ = pd.DataFrame(highest_sell_produ)
highest_sell_produ

                           Sales
Product Name
ALOE + GARCINIA JUICE   12249252

# Q6. List of different products company is offering (packaging quantity doesn't matter. Ex. consider "GET SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [129]:
unique_products = raw['Product Name'].unique().tolist()
unique_products = pd.DataFrame({"unique_product" : unique_products})
unique_products

                     unique_product
0                ALOE + AMLA JUICE
1            ALOE + GARCINIA JUICE
2                  ALOE VERA JUICE
3               ALOE VERA SKIN GEL
4                       NEEM JUICE
5                       NONI JUICE
6           SLIM SHAKE - CHOCOLATE
7               SLIM SHAKE - MANGO
8                   TRIPHALA JUICE
9                TULSI GILOY JUICE
10               WHEAT GRASS JUICE
11                      AMLA JUICE
12                  GET SLIM JUICE
13                    HIMALAYA OIL
14                 VIGOR MAX JUICE
15          ORGANIC JAGGERY POWDER
16              APPLE CIDER VINEGAR
17              VIRGIN COCONUT OIL
18              KARELA JAMUN JUICE
19    MASALA SUPERGRAIN MIX ENERGY
20  MASALA SUPERGRAIN MIX IMMUNITY
21              AMLA + GILOY JUICE
22                  DIA FREE JUICE
23               IMMUNE CARE JUICE
24                 ORGANIC GULKAND
25       VEGAN PROTEIN - CHOCOLATE
26               GET SLIM CAPSULES
27              RAW HONEY ( MADHU)

In [130]:
writer = pd.ExcelWriter("FMCG_Output_File.xlsx")

qty_sum.to_excel(writer, sheet_name='qty_sum')
category_wise_qty_sold.to_excel(writer, sheet_name='category_wise_qty_sold')
subchannel_wise_sales.to_excel(writer, sheet_name='subchannel_wise_sales')
highest_sale.to_excel(writer, sheet_name='highest_sale')
highest_sell_produ.to_excel(writer, sheet_name='highest_sell_produ')
unique_products.to_excel(writer, sheet_name='unique_products',index=False)

writer.close() # The save() method has been deprecated and removed in Pandas. You should use close() instead.